/* ContactPage.css */

  
.contact-page {
   max-width: 800px;
}
  
  .txt1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: orange;
    margin-left: 100px;
    
  }
  
  form {
    margin-top: 20px;
    
  }
  
  .form-group {
    margin-bottom: 15px;
    color:aliceblue ;
  width: 100%;
  margin-left: 300px; /* hna modification ta3 la case*/
  
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: orange;
  
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  background-color: rgb(142, 142, 142);
    color: aliceblue;
  }
  
  textarea {
    height: 150px;
  
  }
  
  .submit {
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 500px;
  border-radius: 5px;
  text-align: center;
  
  }
  
  .forma {
  height: 500px;
  width: 500px;
  }
  
  
  button:hover {
    background-color: orangered;
  }
  