
  
  .contour {
    width: 100%;
   text-align: center;

}
  
  .txt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: orange;
    
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  form {
  margin-top: 20px;

}

.form-group {
  margin-bottom: 15px;
  color:aliceblue ;

width: 500px;
margin-left: 450px; /* hna modification ta3 la case*/

}

label {
  display: block;
  margin-bottom: 5px;
  color: orange;

}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
background-color: rgb(142, 142, 142);
  color: aliceblue;
}

textarea {
  height: 150px;

}
  .tst{
  padding: 8px;
  border-bottom: 1px solid orange;
  color: black;
}

.zest {
  background-color: rgb(85, 85, 85);
  font-weight: bold;
  color: orange;
}
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  

.submitt {
    background-color: orange;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 650px;



}
  
  
  .submit1 {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
   
  }
  .submit2 {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit1:hover,.submit2:hover  ,.submitt:hover {
    background-color: red;
  }
  .success-message {
    color: rgb(0, 255, 0);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }