footer {
    background-color: #272727;
    padding: 20px;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ff6600;
  }
  
  .lien {
    height: 20px;
    background-color: orange;
  }